# Python
backend/venv/
backend/configs/
backend/data/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env

# Node
frontend/node_modules/
frontend/dist/
/frontend/package.json
/frontend/package-lock.json

# OS
.DS_Store
