# Python
backend/venv/
backend/configs/
backend/data/*
!backend/data/.gitkeep
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env

# Node
frontend/node_modules/
frontend/dist/
/frontend/package.json
/frontend/package-lock.json

backend/store/*
!backend/store/.gitkeep

# OS
.DS_Store
